In [199]:
import pandas as pd

In [200]:
import requests
import json

In [201]:
url_kt="https://m.stock.naver.com/api/index/FUT/price?pageSize=10&page=2"
#Request URL: https://m.stock.naver.com/api/index/FUT/price?pageSize=10&page=2

In [202]:
response_kospi_200=requests.get(url_kt)
response_kospi_200

In [203]:
response_kospi_200.text[:200]

'[{"localTradedAt":"2022-07-20","closePrice":"316.50","compareToPreviousClosePrice":"2.80","compareToPreviousPrice":{"code":"2","text":"상승","name":"RISING"},"fluctuationsRatio":"0.89","openPrice":"318.'

In [204]:
data_kospi_200=response_kospi_200.json()

In [205]:
type(data_kospi_200)

list

In [206]:
type(data_kospi_200),data_kospi_200[:1]

(list,
 [{'localTradedAt': '2022-07-20',
   'closePrice': '316.50',
   'compareToPreviousClosePrice': '2.80',
   'compareToPreviousPrice': {'code': '2', 'text': '상승', 'name': 'RISING'},
   'fluctuationsRatio': '0.89',
   'openPrice': '318.90',
   'highPrice': '319.95',
   'lowPrice': '315.65'}])

In [207]:
pd.DataFrame(data_kospi_200)

,localTradedAt,closePrice,compareToPreviousClosePrice,compareToPreviousPrice,fluctuationsRatio,openPrice,highPrice,lowPrice
0,2022-07-20,316.50,2.80,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.89,318.90,319.95,315.65
1,2022-07-19,313.70,-2.30,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.73,314.05,314.25,312.10
2,2022-07-18,316.00,8.00,"{'code': '2', 'text': '상승', 'name': 'RISING'}",2.60,311.45,316.00,310.85
3,2022-07-15,308.00,1.40,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.46,308.10,308.80,302.50
4,2022-07-14,306.60,-1.30,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.42,304.95,308.65,304.25
5,2022-07-13,307.90,2.35,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.77,306.70,309.55,305.80
6,2022-07-12,305.55,-3.55,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.15,308.10,308.40,304.15
7,2022-07-11,309.10,-1.70,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.55,311.95,312.60,308.50
8,2022-07-08,310.80,1.85,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.60,311.00,313.70,310.30
9,2022-07-07,308.95,5.65,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.86,305.30,310.80,304.50

In [208]:
df_kospi_200=pd.DataFrame(data_kospi_200)[["localTradedAt","closePrice"]]
df_kospi_200

  localTradedAt closePrice
0    2022-07-20     316.50
1    2022-07-19     313.70
2    2022-07-18     316.00
3    2022-07-15     308.00
4    2022-07-14     306.60
5    2022-07-13     307.90
6    2022-07-12     305.55
7    2022-07-11     309.10
8    2022-07-08     310.80
9    2022-07-07     308.95

In [209]:
def stock_price(pagesize,page):
    url=f"https://m.stock.naver.com/api/index/FUT/price?pageSize={pagesize}&page={page}"
    response=requests.get(url)
    return pd.DataFrame(response.json())[["localTradedAt","closePrice"]]

In [210]:
stock_price(30,2).tail(2)

  localTradedAt closePrice
8    2022-06-10     341.10
9    2022-06-09     345.00

In [211]:
#코스피 코스닥 함수 만들기
#Request URL: https://m.stock.naver.com/api/index/KOSPI/price?pageSize=10&page=2

def st_price(pagesize,page, code="KOSPI"):
    """ 이 함수는 블라블라
    
    변수값
    --------
    변수 : 형태: 뭐니?
    
    return
    ---
    type 형태 : 뭐뭐 나오니
    """
    url=f"https://m.stock.naver.com/api/index/{code}/price?pageSize={pagesize}&page={page}"
    response=requests.get(url)
    data=response.json()
    return pd.DataFrame(data)[["localTradedAt","closePrice"]]

In [212]:
a="a"
print(f"{a}")

a

In [213]:
kospi=st_price(60,1,"KOSPI")

In [214]:
kodaq=st_price(60,1,"KOSDAQ")

In [215]:
help(st_price)

Help on function st_price in module __main__:

st_price(pagesize, page, code='KOSPI')
    이 함수는 블라블라

    변수값
    --------
    변수 : 형태: 뭐니?

    return
    ---
    type 형태 : 뭐뭐 나오니

In [216]:
#나스닥 해보자 나스닥이랑 코스피랑 관계 있니?

In [217]:

#Request URL: https://api.stock.naver.com/index/.IXIC/price?page=3&pageSize=10

In [218]:
def nas_price(pagesize,page):
    url=f"https://api.stock.naver.com/index/.IXIC/price?page={page}&pageSize={pagesize}"
    response=requests.get(url)
    data=response.json()
    return pd.DataFrame(data)[["localTradedAt","closePrice"]]

In [219]:
nas_price(60,1)

                localTradedAt closePrice
0   2022-08-02T17:15:59-04:00  12,348.76
1   2022-08-01T17:15:59-04:00  12,368.98
2   2022-07-29T17:15:59-04:00  12,390.69
3   2022-07-28T17:15:59-04:00  12,162.59
4   2022-07-27T17:15:59-04:00  12,032.42
5   2022-07-26T17:15:59-04:00  11,562.58
6   2022-07-25T17:15:59-04:00  11,782.67
7   2022-07-22T17:15:59-04:00  11,834.11
8   2022-07-21T17:15:59-04:00  12,059.61
9   2022-07-20T17:15:59-04:00  11,897.65
10  2022-07-19T17:15:59-04:00  11,713.15
11  2022-07-18T17:15:59-04:00  11,360.05
12  2022-07-15T17:15:59-04:00  11,452.42
13  2022-07-14T17:15:59-04:00  11,251.19
14  2022-07-13T17:15:59-04:00  11,247.58
15  2022-07-12T17:15:59-04:00  11,264.73
16  2022-07-11T17:15:59-04:00  11,372.60
17  2022-07-08T17:15:59-04:00  11,635.31
18  2022-07-07T17:15:59-04:00  11,621.35
19  2022-07-06T17:15:59-04:00  11,361.85
20  2022-07-05T17:15:59-04:00  11,322.24
21  2022-07-01T17:15:59-04:00  11,127.85
22  2022-06-30T17:15:59-04:00  11,028.74
23  2022-06-29T17:15:59-04:00  11,177.89
24  2022-06-28T17:15:59-04:00  11,181.54
25  2022-06-27T17:28:29-04:00  11,524.55
26  2022-06-24T17:15:59-04:00  11,607.62
27  2022-06-23T17:15:59-04:00  11,232.19
28  2022-06-22T17:15:59-04:00  11,053.08
29  2022-06-21T17:15:59-04:00  11,069.30
30  2022-06-17T17:15:59-04:00  10,798.35
31  2022-06-16T17:15:59-04:00  10,646.10
32  2022-06-15T17:15:59-04:00  11,099.16
33  2022-06-14T17:15:59-04:00  10,828.35
34  2022-06-13T17:15:59-04:00  10,809.23
35  2022-06-10T17:15:59-04:00  11,340.02
36  2022-06-09T17:15:59-04:00  11,754.23
37  2022-06-08T17:15:59-04:00  12,086.27
38  2022-06-07T17:15:59-04:00  12,175.23
39  2022-06-06T17:15:59-04:00  12,061.37
40  2022-06-03T17:15:59-04:00  12,012.73
41  2022-06-02T17:15:59-04:00  12,316.90
42  2022-06-01T17:15:59-04:00  11,994.46
43  2022-05-31T17:15:59-04:00  12,081.39
44  2022-05-27T17:15:59-04:00  12,131.13
45  2022-05-26T17:15:59-04:00  11,740.65
46  2022-05-25T17:15:59-04:00  11,434.74
47  2022-05-24T17:15:59-04:00  11,264.45
48  2022-05-23T17:15:59-04:00  11,535.28
49  2022-05-20T17:15:59-04:00  11,354.62
50  2022-05-19T17:15:59-04:00  11,388.50
51  2022-05-18T17:15:59-04:00  11,418.15
52  2022-05-17T17:15:59-04:00  11,984.52
53  2022-05-16T17:15:59-04:00  11,662.79
54  2022-05-13T17:15:59-04:00  11,805.00
55  2022-05-12T17:15:59-04:00  11,370.96
56  2022-05-11T17:15:59-04:00  11,364.24
57  2022-05-10T17:15:59-04:00  11,737.67
58  2022-05-09T17:15:59-04:00  11,623.25
59  2022-05-06T17:15:59-04:00  12,144.66

In [220]:
nas=nas_price(60,1)

In [221]:
#이제ㅡ관계가 있니?

In [222]:
df=kospi.copy()#값을 복사
df["kosdaq"]=kodaq["closePrice"]
df["nas"]=nas["closePrice"]
df=df.rename(columns={"closePrice":"kospi"})
df.head()

  localTradedAt     kospi  kosdaq        nas
0    2022-08-03  2,461.45  815.36  12,348.76
1    2022-08-02  2,439.62  804.34  12,368.98
2    2022-08-01  2,452.25  807.61  12,390.69
3    2022-07-29  2,451.50  803.62  12,162.59
4    2022-07-28  2,435.27  798.32  12,032.42

In [223]:
df.dtypes

localTradedAt    object
kospi            object
kosdaq           object
nas              object
dtype: object

In [224]:
df["kospi"]=df["kospi"].apply(lambda data:float(data.replace(",","")))
df["kosdaq"]=df["kosdaq"].apply(lambda data:float(data.replace(",","")))
df["nas"]=df["nas"].apply(lambda data:float(data.replace(",","")))

In [225]:
df.dtypes

localTradedAt     object
kospi            float64
kosdaq           float64
nas              float64
dtype: object

In [226]:
df[['kospi','kosdaq','nas']].corr()

           kospi    kosdaq       nas
kospi   1.000000  0.984076  0.444004
kosdaq  0.984076  1.000000  0.503450
nas     0.444004  0.503450  1.000000

In [227]:
#lambda 변수가 : 이렇게 바뀜(함수)(함수)

In [228]:
df_lam = pd.DataFrame({'name': ['Alice','Bob','Charlie','Dave','Ellen','Frank'],
                   'age': [24,42,18,68,24,30],
                   'state': ['NY','CA','CA','TX','CA','NY'],
                   'point': [64,24,70,70,88,57]}
                  )
print(df_lam.replace('CA', 'California'))
#CA가 캘리포나아오바뀜
#아마도?

      name  age       state  point
0    Alice   24          NY     64
1      Bob   42  California     24
2  Charlie   18  California     70
3     Dave   68          TX     70
4    Ellen   24  California     88
5    Frank   30          NY     57

In [229]:
import os

In [230]:
import sys

In [231]:
import urllib.request

In [232]:
import json

In [246]:
#CLIENT_ID_naver, CLIENT_SECRET_naver=비밀"",""

In [234]:
txt_naver="가스는 여행"
url_naver_api="https://openapi.naver.com/v1/papago/n2mt"
params_naver={"source":"ko","target":"en","text":txt_naver}
headers_naver={"Content-Type":"application/json",
               "X-Naver-Client-Id":CLIENT_ID_naver,
               "X-Naver-Client-Secret":CLIENT_SECRET_naver}

In [235]:
json.dumps(params_naver)#인코딩

'{"source": "ko", "target": "en", "text": "\\uac00\\uc2a4\\ub294 \\uc5ec\\ud589"}'

In [236]:
params_naver

{'source': 'ko', 'target': 'en', 'text': '가스는 여행'}

In [237]:
response_naver=requests.post(url_naver_api,json.dumps(params_naver),headers=headers_naver)
response_naver

In [238]:
response_naver.text

'{"message":{"result":{"srcLangType":"ko","tarLangType":"en","translatedText":"Gas is a travel","engineType":"N2MT","pivot":null,"dict":null,"tarDict":null},"@type":"response","@service":"naverservice.nmt.proxy","@version":"1.0.0"}}'

In [239]:
txt_naver_trans=response_naver.json()

In [240]:
txt_naver_trans

{'message': {'result': {'srcLangType': 'ko',
   'tarLangType': 'en',
   'translatedText': 'Gas is a travel',
   'engineType': 'N2MT',
   'pivot': None,
   'dict': None,
   'tarDict': None},
  '@type': 'response',
  '@service': 'naverservice.nmt.proxy',
  '@version': '1.0.0'}}

In [241]:
txt_naver_trans["message"]["result"]["translatedText"]

'Gas is a travel'

In [242]:
def trans_naver(txt_naver):
    CLIENT_ID_naver, CLIENT_SECRET_naver="VFQKX5ecx41zxU50aGze","M7b3vlg1ll"
    
    url_naver_api="https://openapi.naver.com/v1/papago/n2mt"
    params_naver={"source":"ko","target":"en","text":txt_naver}
    headers_naver={"Content-Type":"application/json",
                   "X-Naver-Client-Id":CLIENT_ID_naver,
                   "X-Naver-Client-Secret":CLIENT_SECRET_naver}
    response_naver=requests.post(url_naver_api,json.dumps(params_naver),headers=headers_naver)
    txt_naver_trans=response_naver.json()
    return txt_naver_trans["message"]["result"]["translatedText"]

In [174]:
trans_naver(txt_naver)

'Gas is a travel'

In [192]:
url_daum="Request URL: https://finance.daum.net/api/exchanges/FRX.KRWUSD/days?perPage=10&page=3&pagination=true"
#Request URL: https://finance.daum.net/api/exchanges/FRX.KRWUSD/days?symbolCode=FRX.KRWUSD&terms=days&page=2&perPage=10

In [195]:
headers_daum = {
    "user-agent": "user-agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36",
    "referer": "https://finance.daum.net/exchanges",
}

In [243]:
response_daum = requests.get(url_daum, headers=headers_daum)
response_daum

In [244]:
datas_daum = response.json()["data"]
df = pd.DataFrame(datas_daum)
df.head(1)

,symbolCode,date,currencyCode,currencyName,currencyUnit,country,region,name,recurrenceCount,basePrice,...,changeRate,cashBuyingPrice,cashSellingPrice,ttBuyingPrice,ttSellingPrice,tcBuyingPrice,fcSellingPrice,exchangeCommission,usDollarRate,chartImageUrl
0,FRX.KRWJPY,2022-07-21 23:19:42,JPY,엔,100,일본,"{'korName': '아시아', 'engName': 'Asia'}",일본 (KRW/JPY100),514,950.87,...,0.001127,967.51,934.23,941.56,960.18,None,None,2.0605,0.7231,{'day': 'https://t1.daumcdn.net/finance/chart/...

In [245]:
columns = ["date", "currencyCode", "currencyName", "country", "name", "basePrice"]
df[columns].head()

,date,currencyCode,currencyName,country,name,basePrice
0,2022-07-21 23:19:42,JPY,엔,일본,일본 (KRW/JPY100),950.87
1,2022-07-20 23:53:07,JPY,엔,일본,일본 (KRW/JPY100),949.80
2,2022-07-19 23:36:22,JPY,엔,일본,일본 (KRW/JPY100),949.27
3,2022-07-18 23:45:07,JPY,엔,일본,일본 (KRW/JPY100),952.74
4,2022-07-15 21:49:48,JPY,엔,일본,일본 (KRW/JPY100),955.06